* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Cinzel-Medium';
    src: url('../font/Cinzel-Medium.ttf');
}

@font-face {
    font-family: 'Cinzel-Regular';
    src: url('../font/Cinzel-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('../font/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../font/Poppins-Regular.ttf');
}

/* === Assets ===
Font: Cinzel, poppins.
border: #ccc.
color logo: #999.
color home: #fff.
color: #333
*/

/* === IMG Dateien ===
    Home Background: https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80
    Link1: https://images.unsplash.com/photo-1473170577235-e07d5ee8e382?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60
    Link2: https://images.unsplash.com/photo-1484169373632-0cfa05237afb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60
    Link3: https://images.unsplash.com/photo-1497088669596-a940e3ab0d78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60
    Link4: https://images.unsplash.com/photo-1472535139094-32c9c4f63f97?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
    Link5: https://images.unsplash.com/photo-1466873767530-f11ce2656cff?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
    Link6: https://images.unsplash.com/photo-1466873767530-f11ce2656cff?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
*/

header {
    font-family: 'Cinzel-Medium';
    font-size: 3vh;
    color: #999;
    height: 5.5vh;
    margin-left: 6vh;
    padding-top: 3vh;
    /* border: 1px solid black; */
}

.background {
    background-image: url('https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cinzel-Regular';
    font-size: 4.5vh;
    color: #fff;
    height: 73vh;
    text-align: center;
}

div {
    padding-top: 25.57vh;
}
.trip_info h2 {
    padding-top: 8vh;
    
}

.trip_info, .tour_dates {
    text-align: center;
    height: 45vh;
    font-family: 'Cinzel-Regular';
    font-size: 2.55vh;
}

.trip_info p {
    font-family: 'Poppins-Regular';
    font-size: 2.05vh;
    padding-top: 8vh;
    margin-left: 6vw;
    margin-right: 6vw;
}

.gallery {
    margin: 5vh 9vh;
}

img {
    text-align: center;
    width: 40vh;
    padding: 5vh 3vw;
}
.tour_dates {
    margin: 10vh;
}

.tour_dates h2 {
    margin-bottom: 3.65vh;
}

.tour_dates p {
    font-family: 'Poppins-Regular';
    font-size: 1.95vh;
    text-align: left;
    padding: 0.8vh;
    margin-left: 2vw;
}

.red {
    color: red;
}

.green {
    color: green;
}

footer {
    margin-top: 2vh;
    text-align: center;
    border-top: 0.20vh solid rgba(105, 105, 105, 0.177);
    padding: 3.35vh;
}

footer a {
    padding: 20px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-family: 'Cinzel-Regular';
}

footer section a {
    text-align: center;
    padding: 2.4vh;
}



